body{
    padding: 0;
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
    background-image: url(pattern-background-desktop.svg) ;
    background-repeat: no-repeat;
    background-size: cover;
}
.card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0px 0px 10px 1px #444444;
    background-color:hsl(225, 100%, 98%) ;
}
.dtl-card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.dtl-card h1{
    color:hsl(223, 47%, 23%) ;
    font-weight: bolder;
}
.dtl-card p{
    font-size: 16px;
    color:hsl(226, 53%, 68%);
    text-align: center;
    width: 290px;
    margin-top: 0px;
}
.plan{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 40px;
}
.price{
    display: flex;
    flex-direction: column;
    margin-right:80px ;
    margin-left: 20px;
}
.price h3{
    margin-bottom: 0;
    font-weight:500px;
    color: hsl(223, 47%, 23%);
}
.price p{
    margin-top: 5px;
    color:hsl(226, 53%, 68%);
}
.plan a{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
    color: hsl(223, 58%, 47%);
}
.btn{
    display: flex;
    flex-direction: column;
    height: 75px;
    justify-content: space-evenly;
}
#uno{
    border: none;
    outline: none;
    color:rgb(255, 255, 255);
    background-color: hsl(245, 75%, 52%);
    padding: 13px 100px;
    border-radius: 10px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight:bolder;
}
#do{
    border: none;
    outline: none;
    color:hsl(226, 53%, 68%) ;
    font-weight: bolder;
    margin: 15px;
    background: none;
}